#gameBoard{
border: 3px solid;
}

#GameContainer{
   text-align: center;
}

#scoreText{
   font-size: 100px;
}
#reset{
   font-size: 22px;
   height: 50px;
   width: 100px;
   border: 4px solid;
   cursor: pointer;
}
